header {
    background: url("http://static.simpledesktops.com/uploads/desktops/2013/05/24/constellation.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: helvetica;
    font-style: italic;
    font-size: 40px;
    color: #192d4d;
    padding: 100px;
}
main {

}
h1{
  text-shadow: 2px 2px #000000;
}
h2 {
  text-align: center;
}
h4{
  text-shadow: 2px 2px #000000;
}
div {
  color: #ffffff;
  text-decoration: 2px 2px #808080;
  background-color: #192d4d;
  font-family: helvetica;
}
h3{
  font-family: helvetica;
  font-size: 30px;
  text-decoration: 10px 10px #808080;
  text-align: center;
}
p {
  text-align: center;
  max-width: 500;
}
.active{
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 0px #000000
}
body {

}
